<h1>Rock, Paper, Scissors</h1>

<a href="/pick_rock"><img style="height:100px;" src="<%=@rock_url%>"></a><a href="/pick_paper"><img style="height:100px;" src="<%=@paper_url%>"></a><a href="/pick_scissors"><img style="height:100px;" src="<%=@scissors_url %>"></a>